[2013-04-17 21:03] glenrobertson opened #1 "Provide a built source file"
Hello,

I was hoping you were able to provide a single leaflet-dvf.js in the dist directory?

Thanks!
Glen

[2013-04-18 12:50] #1 closed, assigned to sfairgrieve

[2013-05-19 22:19] wrobstory opened #2 "polygonmarker._latlng"
Hi guys-

When you initialize a new polygon marker, `_latlng` does not initialize, which causes `.openPopup()` to fail.

Right now I'm just using a statement like  `polygon_1._latlng = polygon_1._centerLatLng` as a quick fix, but I figured you might want to make the quick fix in your codebase as well.

Cool library!

[2013-05-20 18:57] #2 closed, assigned to nobody

[2013-08-03 14:32] bthart opened #3 "Dynamic radius sizes for piegraphs"
Hi,

Just wandering how I could change the radius size of a pie graph based on a variable from the data. After every abbr field I have added a radius field.

I am pretty much using the same sort of layout as the election data example.

I'm just not sure how to link the radius field to the data.

Thanks

[2013-09-14 18:55] #3 closed, assigned to nobody

[2013-11-20 19:58] star-ga opened #6 "IE8 minor bugs"
User Agent: Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 5.2; Trident/4.0; Data Center; .NET CLR 1.1.4322; .NET CLR 2.0.50727; .NET CLR 3.0.04506.648; .NET CLR 3.5.21022; .NET CLR 3.0.4506.2152; .NET CLR 3.5.30729)
Timestamp: Wed, 20 Nov 2013 19:41:40 UTC

Message: 'L.Util' is null or not an object
Line: 5
Char: 681
Code: 0
URI: https://smartdata.columbiatechnologies.com/dist/leaflet-dvf.min.js

[2013-11-25 17:06] hrishiballal opened #7 "Change the Radius of Polygon Markers"
I want to change properties passed through options of a marker once it is loaded on the map, there are no set methods for markers. Is there a way to change the properties (e.g. number of sides or radius) for existing polygon markers?

[2013-12-03 18:41] martinburch opened #8 "Creating compatible js files for choropleth mapping"
Is there some documentation available for the structure used by countryData.js and stateData.js?

I would like to use other GeoJSON files, such as U.S. counties or legislative districts, but I'm not sure how the GeoJSON is being transformed, exactly, so I'm having trouble making my own files.

In the docs, I see that

That use of keys seems to create invalid GeoJSON per spec, therefore, it will be

[2013-12-06 15:38] franck34 opened #9 "draggable L.RegularPolygonMarker ?"
Hi

Thanks for sharing this huge addon !

Question, is it possible to implement draggable L.RegularPolygonMarker ?

Cheers

[2013-12-06 15:58] ingsoc opened #10 "RegularPolygonMarker displayText support like "Stacked Regular Polygons" example in examples\markers.js"
I stumbled across this plugin as I was looking for a way to rotate markers - althoguh in future I can see other uses for this lib :).

I am currently only using RegularPolygonMarker to create a triangle direction marker that I have much more control over configuration/display than regular .png marker bitmaps.

The issue I have is I want to display some text on hover, and I see there is no "title"

[2013-12-12 09:54] franck34 opened #11 "mapMarker with picture inside"
I'm trying to add rounded picture inside a map marker.

The actual SVG structure of a map marker (using gradien + shadow) is :

[code]

I'm trying to add something like

[code]

without success at the moment. I've tried "as is" and inside a new <g> included in actual <g> without success too.

Notice i'm just starting with svg so i don't really understand what i am doing.

Is it possible ? if yes w

[2013-12-13 16:56] #11 closed, assigned to nobody

[2014-01-04 16:54] sabas opened #13 "Maximum call stack exceeded when adding boundaries"
I tried to mix the examples
http://humangeo.github.io/leaflet-dvf/examples/html/nlzip.html
and
http://humangeo.github.io/leaflet-dvf/examples/html/incomelevels.html

To generate a barchart on top of a geojson, but when I try to add the borders as in the Netherlands example the javascript console alerts me that
"Maximum call stack size exceeded" at function call TextFunctions._updatePath

My code i

[2014-01-10 21:51] #13 closed, assigned to nobody

[2014-01-16 04:55] Xal3ph opened #14 "IE8: L.DataLayer numberOfSides VML render"
I'm getting some success with IE8 compatibility. However, the markers don't seem to even show unless the number of sides exceed a large number for L.DataLayer. If it's greater than like 30 or so, the marker will show. I need to use a square for a shape, this is causing a problem.

[code]

[2014-01-16 04:55] Xal3ph opened #15 "IE8: Incorrect Coloring Function Behavior"
In IE8, some of the coloring functions just have some bizarre behavior with VML. For example, what was yellow is turning up as magenta when I use new L.HSLHueFunction(new L.Point(0,90), new L.Point(1,60), {outputSaturation: '100%', outputLuminosity: '50%'});

[code]

[2014-01-17 03:30] #14 closed, assigned to nobody

[2014-01-17 03:30] #15 closed, assigned to nobody

[2014-01-30 19:00] Xal3ph opened #16 "IE-VML Panning Markers"
When I pan in IE8 and IE9 using VML, markers don't catch up to the map.  However, zooming in/out will re-align/sync the markers to the correct location on the map.

I need to further analyze to make sure I'm not doing something in my setup but it sure looks like a VML rendering issue as it works fine in SVG.

[2014-02-03 16:59] XellossT opened #17 "Problem with centroid IE8"
Hey

First i would like to say that you work is awesome !

So my problem
I have a map that allow me to display PieChartDataLayerand BarChartDataLayer

I use all your example to display them successfully in FF/Chrome

But in IE 8 I always get this error :
 Error loading centroid for {"id":"05","type":"Feature","geometry":{"type":"Polygon","coordinates":[[[6.6358,44.4469],[6.4863,44.4491],[6.371,44.

[2014-02-07 20:54] Xal3ph opened #18 "IE11 SVG Dom Issue"
I've had some issues when loading many markers (specifically 1,312) on a map.  It could take up to a minute depending on the number of markers.  Chrome, Firefox, Safari, and Opera do not have this issue.  I have a feeling it's SVG rendering.

The work around for this was to force load IE9 for all versions of IE.  I don't particularly like this option, but the load times are back to 0.1 - 2 seconds

[2014-02-20 12:32] ulrichson opened #21 "MarkerCluster with SVGMarker"
The example in https://github.com/humangeo/leaflet-dvf/blob/master/examples/html/manymarkers.html demonstrates the clustering of markers with the Leaflet MarkerCluster plugin. However, changing `L.MapMarker` to e.g. `L.SVGMarker` (with the required parameters, see below) somehow disables the clustering, although the svg markers are displayed correctly.

Is it possible to use MarkerCluster with all

[2014-02-24 13:18] #21 closed, assigned to nobody

[2014-02-26 08:56] ulrichson opened #22 "Uncaught TypeError in SVGMarker"
The `height.indexOf('%')` code in SVGMarker can run into an uncaught typererror exception (when `height` is interpreted as numeric) in https://github.com/humangeo/leaflet-dvf/blob/master/src/leaflet.dvf.markers.js#L990

[code]

I solved this issue locally by explicitly setting `height` as string:

`svg.setAttribute("height", height + ((height+"").indexOf("%") !== -1 ? "" : "px"));`

FYI: I ran int

[2014-03-12 03:15] brunodeprez opened #23 "L.PiecewiseFunction not working"
Hi,

I have tried the piecewisefunction example from the blog http://blog.thehumangeo.com/tag/leaflet/ and I have an error. I also use L.LinearFunction which works perfectly.

The js:

var radiusFunction = new L.PiecewiseFunction(new L.LinearFunction(new L.Point(0, 5), new L.Point(100, 5)), new L.LinearFunction(new L.Point(100, 5), new L.Point(200, 20)));

The error:

TypeError: Cannot call method

[2014-03-12 21:22] #23 closed, assigned to nobody

[2014-03-18 04:40] brunodeprez opened #24 "PieChartDataLayer legend issue"
Hi,

first of all thanks for the fantastic work.

I am building a map with pie charts using a PieChartDataLayer. The radius of the pie depends on the sum of all the element of the pie (the bigger the pie, the bigger the sum of data inside it).

Everything works except the legend.

When I use getLegend() on my layer, I only have the different pie colors, but not the radius itself, just like in elec

[2014-03-18 22:13] #24 closed, assigned to nobody

[2014-03-21 22:52] sylvaincaillot opened #25 "CustomColorFunction, color classes & legend"
Good morning,
First of all congratulations for this amazing plugin.

I am developing a map with a chloropeth layer similar to you countystats example.
I would like to give the user the posiibility to choose its color palette(sequential/diverging) and the number of data classes as in the Colorbrewer website.
Using this webpage and this site (http://www.cse.unsw.edu.au/~mike/myrlibrary.old/RColorBre

[2014-03-24 21:44] #25 closed, assigned to nobody

[2014-03-26 23:45] sylvaincaillot opened #26 "setLegend method?"
Good morning,

After having set up my chloropleth map and displayed it, i would like to modify my legend   to increase or decrease the number of segments for example. Is there a setLegend method available equivalent to setDisplayOptions or setData but only to reset the legend already added to the map?

Thanks for your help.

Sylvain

[2014-03-31 02:51] #26 closed, assigned to nobody

[2014-04-23 18:12] Xal3ph opened #27 "Layer Order and bringToBack()/bringToFront()"
I noticed that bringToBack and bringToFront didn't work on the choropleth (and I'm guessing the other layers as well from dvf) where they worked when I used L.geoJSON.  I then tried playing with setZIndex which didn't really do what I was hoping it would.

How do I make ensure 5 layers always show in the appropriate order?  As users add/remove layers from the map, they seem to get shuffled out of

[2014-05-01 03:56] #27 closed, assigned to nobody

[2014-05-06 15:22] sfairgrieve opened #28 "Update examples to use non-Cloudmade map tiles"
Cloudmade has stopped providing free map tiles, so update the examples to use a different provider (e.g. Stamen, MapQuest, OSM, etc.)

[2014-05-08 11:56] #28 closed, assigned to nobody

[2014-05-27 15:20] hrishiballal opened #29 "Export Polygon Markers etc. to GeoJSON"
It would be nice to be able to use toGeoJSON() on Polygon Markers and other types fo markers.

[2014-06-04 14:13] clintharris opened #30 "GeohashDataLayer: mouseover geohash results in opacity > 1, causes error in IE8"
I'm using DVF (as it existed after commit efd56c88c0 on May 14, 2014) with Leaflet 0.7.2. IE8 on Win7.

On IE8, if the user quickly mouses back and forth over a GeohashDataLayer grid cell, Leaflet often generates the following error: "Arg: fraction out of range (0 to 1 allowed) leaflet-src.js:5011".

Specifically, here is the process that triggers the error:
1. Mouse over geohash rectangle
   -> F

[2014-06-04 14:22] #30 closed, assigned to nobody

[2014-06-12 12:05] syldor opened #31 "Compatibility with leaflet-0.8-dev"
Hi there, great great work.
I'd like to use your gradient feature for polygons with the 0.8-dev version but they have a big changelog that makes leaflet-dvf not yet compatible. Where should I start to code to make this feature compatible ? If I could have some tips to begin with ...

[2014-06-25 09:37] codingisacopingstrategy opened #32 "Dynamic gradient with GeoJSON"
In leaflet, when using the GeoJSON functionality, one has the option to specify style as a function instead of a static value:

[code]

I wanted to use leaflet-dvf’s `gradient` property and to the same thing, but it fails: it doesn’t seem to accept a function?

I tried to work around this using the `onEachFeature` option and accessing `_makeGradient` directly, but that doesn’t seem to work either

[2014-06-26 18:50] ghost opened #33 "Add StackedPieChartDataLayer type"
To keep that functionality going with the new marker types.

[2014-07-09 19:54] facultymatt opened #34 "Ability to make flowLines visible on map load"
When using Leaflet layers you can set them to be initially visible using the `visible` property. For example:

[code]

It would be useful to be able to set flowLines to be visible by default in the same way, for example:

[code]

this would cause the map to load with the "Elevation" flowLine visible.

[2014-07-10 11:46] #32 closed, assigned to nobody

[2014-08-06 07:07] FacelookHK opened #35 "How to change the SVG path and redraw a SVG marker?"
I have created a SVG marker and added it to map. I would like to change the SVG path (for example change from an arrow to a diamond) dynamically?

Thanks.
Wilson

[2014-08-07 00:49] #35 closed, assigned to nobody

[2014-08-10 10:05] canosso opened #36 "Chartmarker: Larger Tooltip possible"
Hello,
sorry, I'm a beginner. Thank you for your great work.

Is it possible that the tooltip at the value could be sized larger?
I have data.options with long names and large values, e.g. "1. Category A" :  84900
On the map the tooltip text will be shown but not the whole text is in the white tooltip box and therefore bad readable.

Thank you in advance for your help.

[2014-08-12 12:34] phillipebarbosa opened #37 "How to change DataLayer Radius on ZoomStart/ZoomEnd?"
Hi! Good Morning!

I'm starting to use the leaflet-dvf plugin and I need to change the Radius of my DataLayer depending of the current zoom. I noticed that some Layers have a method to Redraw, but DataLayer doesn't... I also tried to use another kind of Layer, but it didn't fit on what I need.
There is a way to do that, change the radius and redraw the DataLayer?

Thanks in advance!

Phillipe.

[2014-08-14 12:54] #37 closed, assigned to nobody

[2014-08-29 19:00] #22 closed, assigned to nobody

[2014-09-25 03:34] joongtang opened #49 "LayerGroup.add(remove)Layer problem"
![issue](https://cloud.githubusercontent.com/assets/6409795/4399118/05a26056-4463-11e4-944f-bce97541cc32.png)

I've had issue when LayerGroup.addLayer after removeLayer multiple times by Layer Control and code

[2014-10-07 23:02] Xal3ph opened #50 "Best way to toggle between display options Choropleth"
What is the best way to toggle between various values for polygons (different colors/titles).  "displayName" is not a function - so unless it's modified directly, having it bind to a function isn't going to change.  If I add multiple display options, it only takes one of the color functions/values for the main view/color.  They are, however, functions and so I have something that is reloading the

[2014-10-13 20:12] jack-r-abbit opened #51 "DataLayer.reloadData() connects my end points"
I have a data set of points drawn using a FlowLine (extended from DataLayer). It draws just fine. When I call the reloadData() function it redraws all the data but it also connects my end points.

I've whipped up a quick jsFiddle to show what I mean. http://jsfiddle.net/wzfp1mLh/ Click the "DataLayer.reloadData()" text above the map.

I should note: I am not actually that interested in calling rel

[2014-12-09 11:19] bthart opened #52 "Legend from Fill Colour"
Hi.

It seems that the legend is based on the 'color' variable. Is there anyway to change the legend so that it works of the fillcolor. I'm hoping to have a white outline on my polygons to create contrast however everytime I try, the legend goes white.

Thanks,
Brian

[2014-12-11 16:08] archerian opened #53 "Color of graph based on value"
Is it possible to set the color of the bar/pie based on the value of a field? For example from the data below, set the color to Green if Score >= 95, Orange if  90 <= Score < 95 and Red if Score < 90?

[{
        "Date" : "2014-09-01",
        "State" : "Alabama",
        "StateCode" : "AL",
        "Operators" : [{
                "Operator" : "CellServiceA",
                "Score" : 88.94

[2015-01-06 20:15] #51 closed

[2015-01-06 20:15] #49 closed

[2015-02-11 22:51] jack-r-abbit commented on #51
I've only just gotten back to working on this again. I can confirm the problem is gone. Thanks.

[2015-02-11 22:53] jack-r-abbit opened #54 "FlowLine, CustomColorFunction & min"
I created a CustomColorFunction and gave it min/max values and small set of colors (red, yellow, green). When used with a data set that contains values BELOW the min, those low values get assigned the color from the max end of the scale, not the min. I expected the numbers below the min would get the min end of the scale.

To illustrate, I've made this jsFiddle: http://jsfiddle.net/wzfp1mLh/1/
Not

[2015-02-11 23:31] sfairgrieve commented on #54
Thanks for pointing this out.  Let me look into this.  You're understanding of how it should work sounds correct to me.

[2015-02-11 23:40] sfairgrieve commented on #54
I see the problem.  I'll push a fix soon.

[2015-02-12 13:17] sfairgrieve commented on #54
Just pushed a fix to master.  Let me know if this fixes your issue.

[2015-02-12 17:49] jack-r-abbit commented on #54
That fixed the problem. Great plugin you have here. Thank you!

[2015-02-13 04:33] sylvaincaillot opened #55 "Quantile or Jenks classification"
Good morning,
First thanks for your library which produces amazing maps.
I have an issue with some recent data for which the current classification does not render it properly in one of my chloropeth map (few records with extreme values).
I think it is related to the fact that the current classification I am using with DVF is of equal interval or defined interval.

Would it be possible to choose a

[2015-02-13 12:41] sfairgrieve commented on #55
That sounds like a great idea.  I'll give it some thought.  If you have any suggestions on how to best implement this, let me know.  I've been checking out [TurfJS](https://github.com/Turfjs/turf) recently, which seems like a good fit here possibly.

[2015-02-13 22:27] jack-r-abbit opened #56 "L.HTMLUtils.buildTable breaks in IE9 & IE8"
IE 8 & 9 seem to take issue with these lines in L.HTMLUtils.buildTable in leaflet-dvf.js:

1342:	thead.innerHTML = '<tr><th>Name</th><th>Value</th></tr>';

1363:	tbody.innerHTML += '<tr><td>' + property + '</td><td>' + value + '</td></tr>';

This error is thrown: Invalid target element for this operation.

I was able to fix the issue by explicitly creating the tr, th/td using the same method you c

[2015-02-16 12:24] sfairgrieve commented on #56
Good catch!  I'll fix that based on your suggestions, or feel free to submit a pull request.  Appreciate the fix!

[2015-02-18 03:28] sylvaincaillot commented on #55
Thanks Scott,
I have used this piece of javascript code: https://gist.github.com/tmcw/4977508 from the creator of turf to create jenks classes. It works great.
I have now the boundaries of my classes,
For examples, i have 3 classes with the following breaks :[1712, 2021, 8855, 20421]

How can i inject these values into the display options of my map to have relevant color palette and legend?

Thank

[2015-02-18 13:16] sfairgrieve commented on #55
Sylvain,

Currently, you can use an _L.PiecewiseFunction_ instance to specify the color function.  To use _L.PiecewiseFunction_, you pass in an array of _LinearFunction_ instances (e.g. color functions), like so:

[code]

This approach gives you complete control over color output, but can be a little involved for this general use case.  I need to make some tweaks to the library to make this easier

[2015-02-18 21:33] sylvaincaillot commented on #55
Thanks a lot Scott,
This is what I was thinking, i tried to create a "L.CustomJenksColorFunction" which was an extension of PiecewiseFunction and which was taking breaks and color as parameters but with no success. I will be using your code in the meantime and then switch to the next version when ready.

Thanks again for all

Sylvain

[2015-02-20 13:03] sfairgrieve commented on #55
Sylvain,

I just pushed a branch called classification that has a new function called L.ColorClassFunction (I'm open to changing the name).  You should be able to pass this an array of breaks along with an array of colors (per your example).  Let me know if this works for you, and I'll merge it into master.  Here's the code for the new class:

[code]

Scott

[2015-02-23 02:48] sylvaincaillot commented on #55
Thank you so much Scott,

I just tried it and it looks promising.
'''
var breaks = getJenks(dataJSON.grid[0], 'A', 4);

            var fillColor = new L.ColorClassFunction(breaks, L.ColorBrewer.Diverging[selectedPalette][4].slice(0).reverse(), {
                interpolate: false
            });
'''
I just see an issue of color between the legend and what is shown on the map:
Please see the diffe

[2015-02-23 12:22] sfairgrieve commented on #55
That makes sense, and I definitely see the issue.  I'll make some updates to the legend building code that will hopefully solve this issue.

[2015-02-25 12:46] sfairgrieve commented on #55
I think I have a fix for the legend, but I just need to do some more testing/code cleanup before I push it.  I'll push it to the classification branch at some point today once I get some time to work on it.

[2015-02-25 13:15] sfairgrieve commented on #55
Went ahead and pushed it to the classification branch.  I didn't do a ton of testing, so let me know if you encounter any issues.  In order for the legend to work with breaks, you'll need to supply the breaks as part of the legendOptions you pass in to the DataLayer like so:

[code]

[2015-02-25 14:10] sfairgrieve commented on #55
Just realized that this solution won't work for all cases but should work for your use case.  Need to make some more tweaks before it's ready for release.

[2015-02-25 17:42] sfairgrieve commented on #55
Ok one more update, now pass breaks with your displayOptions field like so:

[code]

[2015-02-26 04:55] sylvaincaillot commented on #55
This is great Scott.
This is my current code using your last update:
[code]
I think we are almost there, the legend is correctly generated in term of boundaries values and class width. I still have this issue of color being duplicated. As you can see below, the green color has disappeared from the legend and the red has been duplicated which makes the legend wrong as the green color still exists i

[2015-02-26 12:31] sfairgrieve commented on #55
Thanks Sylvain.  Looking into this now.  What are the break values for your example above?

[2015-02-26 23:03] sylvaincaillot commented on #55
Sure. My break values with 5 classes are [166, 729, 929, 1241, 1713, 2540]

Thanks again
S.

[2015-02-27 12:59] sfairgrieve commented on #55
Sylvain, give the latest a try when you get a chance.  I believe it should work, but appreciate your testing it.  Thanks for your patience.  I definitely need to spend some time rethinking/refactoring the legend code.

[2015-02-27 13:01] sfairgrieve commented on #56
I've incorporated these changes in the classification branch and will merge them in soon.

[2015-02-27 13:01] #54 closed

[2015-02-27 20:08] ikirmitz opened #57 "Use different markers in GeohashDataLayer"
Hi there,

following the Geohashes example I've built a map that feeds directly from a JSON output from SOLR. The underlying data is encoded in Geohashes. Everything works fine but I want to change the markers from rectangles to L.MapMarker. I know you can bypass the default markers using getMarker but I couldn't find any clear documentation on how to do that.
Can you please provide an example if

[2015-02-28 13:43] sfairgrieve commented on #57
Ioannis,

GeohashDataLayer is just a convenience class for displaying rectangles instead of markers - it just sets some of the data layer options for you and overrides some of the base DataLayer code to return rectangles.  There are a couple of ways to accomplish what you need.  You can use the _getMarker_ option with _L.DataLayer_, or the _L.MapMarkerDataLayer_.  Here are examples of both:

L.Map

[2015-02-28 14:55] ikirmitz commented on #57
Excellent,
thank you very much!

[2015-03-02 03:32] sylvaincaillot commented on #55
Thanks Scott,
Everything works perfectly for my break classification and the legend display now.
The last issue to be corrected, which is still there in the master version, is the fact that the chloropeth map colors do not match the default legend.

Let me explained: In the case of a default legend (equal intervals) with 5 classes for example (boundaries: 166, 640, 1115, 1590, 2065, 2540 with colo

[2015-03-02 12:29] sfairgrieve commented on #55
Almost there.  Thanks for sticking with this.  I'll look into it and hopefully have a fix in soon.

[2015-03-02 20:52] #57 closed

[2015-03-02 21:14] ikirmitz opened #58 "Attach onClick event on L.MarkerDataLayer"
Hello again,

I'm new to leaflet and leaflet-dvf and it seems I sometimes fail to do the simplest things.
I'm trying to bind a onClick event on every marker within a L.MarkerDataLayer layer. I though it could be possible by using the onEachRecord function but I can't make it work. My code so far is
[code]
I'll appreciate any help.
Thank you for your library and help

Ioannis

[2015-03-03 01:40] sfairgrieve commented on #58
Looks like you're not actually passing the click handler in.  If you move the closing parenthesis after the curly brace following map.zoomIn(3);, I think you should be good:

[code]

[2015-03-03 02:45] ikirmitz commented on #58
I'm ashamed and grateful at the same time. Thank you very much once again!

[2015-03-03 02:45] #58 closed

[2015-03-03 12:19] sfairgrieve commented on #55
Does the latest commit fix this?  I noticed/fixed an issue with the legend code.  If not, does it work when you pass in the equal interval breaks yourself (you might already be doing this?):

[code]

[2015-03-03 21:33] sylvaincaillot commented on #55
Thanks Scott,
The breaks classification works fine since your previous release and yes, I am already passing the interval breaks myself as you code is showing it.
It is only the default classification which is not working properly. Now the colors are spread over the legend with 2 classes with the same color and the red color missing (see below). It also seems that there is an inconsistency between

[2015-03-04 01:45] sfairgrieve commented on #55
Darn.  Would you be willing to share your code (or an equivalent example when classification is set to equal intervals) and some example data?  I understand if you don't want to.  Just want to try and recreate this issue and make sure my test case matches your case.   I've been testing updates against the earthquake example (updated to use the ColorClassFunction and breaks) and it seems to be work

[2015-03-04 12:48] sfairgrieve commented on #55
I'll add a new example to the classification branch that matches what I think your use case is, and maybe you can let me know if it's correct or not.  Are you passing in legendOptions.numSegments?  I see an issue when I pass in legendOptions.numSegments and don't include the breaks under a field in displayOptions.  The legend is definitely off in that case.

[2015-03-04 21:37] sylvaincaillot commented on #55
Thnaks Scott for all of this,
 i am effectively using the numSegments to define th number of classes.
Please see below part of my code:

This part is generating the default map based on equal intervals classification
[code]

Then the user has the possibility to change the palette, the classification type (Jenks or equals interval, number of classes), see below the generic function which handle tha

[2015-03-05 01:35] sfairgrieve commented on #55
Thanks for sharing.  I think I understand what the problem is.  There's an issue with the CustomColorFunction.  Should have a fix in soon.  Hopefully this actually fixes things.

[2015-03-05 23:15] sylvaincaillot commented on #55
Scott,
I just tried the last version of the classification branch you pushed lately and it works beautifully.

Thank you very much.
I have just added a rounding to the min and max values of the legend boundaries in the _getLegendElement function as I had numbers with extreme decimal (125.200000000003) as shown in one of my previous post.

It is perfect now.
Thanks again for your precious help and

[2015-03-05 23:15] #55 closed

[2015-04-10 19:09] birdage opened #60 "Leafet-dvf markers not showing correctly"
ive been following the [markers example](https://github.com/humangeo/leaflet-dvf/blob/master/examples/html/markers.html) and i get a marker but it look nothing like what the examples page looks like, any ideas? just looks like a polygon, without any of the styling? css missing somewhere?

![screen shot 2015-04-10 at 3 08 21 pm](https://cloud.githubusercontent.com/assets/547228/7094900/a288a51c-df9

[2015-04-12 20:37] sfairgrieve commented on #60
Can you provide some more details about your setup/how you installed it and if there are any errors in the Chrome/Firefox debug console?  Not sure why it wouldn't be working, unless paths are off or CSS is missing as you mentioned.

[2015-04-14 17:29] birdage commented on #60
i think your right, there might be something up with my css as i can get it to work in a standalone example. ill close this for now unless i cant fix it :smile:

[2015-04-14 17:29] #60 closed

[2015-04-22 10:58] erdnaxeli opened #61 "Gradient on Polyline"
The gradient property doesn't work on Polyline objects. The gradient is set, but with the "fill" attribute. For this particular object, it should be set with the "stroke" attribute.

[2015-04-22 19:17] sfairgrieve commented on #61
Good point.  Should have a fix in soon.

[2015-04-23 16:41] birdage commented on #60
it was a css issue im all good now!

[2015-06-03 19:22] sfairgrieve commented on #61
Sorry for the delay.  I have this working, just having trouble finding the time to test it out/push the update.  I'm also trying to decide on the best way to specify this in the layer style.  Right now _gradient_ specifies the fill gradient.  I could call the property _strokeGradient_ but that's backwards from the other Leaflet style names (e.g. fillColor).  I'm trying to be smart about how the gr

[2015-06-04 02:20] sfairgrieve opened #62 "ChartDataLayer iconSize of null causes errors"
This class uses the iconSize property to dynamically position tooltips.  It should gracefully handle the case when tooltips don't have a fixed size.

[2015-06-04 11:42] sfairgrieve opened #63 "L.HTMLUtils.buildTable displays subtable for null field values"

[2015-06-16 12:09] spatialhast opened #64 "Add Flickr, Mapillary services"
Hello!
Please create library for Flickr, Mapillary photo services similary Panoramio Photo Browser (display photo in new frame, not in popup...)
Thanks!

[2015-07-05 17:57] sfairgrieve opened #65 "Full 0.8/1.0 Support"
Continue where @pagameba left off and make sure all features work with 0.8-dev/upcoming 1.0

[2015-07-14 17:35] sfairgrieve commented on #65
This is a work in progress - check out the 1.0dev branch.  Most features are working, just finishing up some minor tweaks to text placement on path elements.

[2015-08-04 18:03] FarhodKurbonov opened #66 "Handle multipolygon geometry type"
I have data in geoJSON format which includes 'MultiPolygon' geometries. Leaflet's L.geoJson handle multipolygon layer  'as one polygon', so when I mouse over one polygon, all other polygons which are part of multipolygon will change  style. But L.choroplethDataLayer binds mouse event to each polygon separately(each polygon in multipolygon).

In consequence of this behavior, when I set text on each

[2015-08-04 19:59] sfairgrieve commented on #66
@FarhodKurbonov this issue makes sense.  Let me look into it and get back to you.

[2015-08-04 23:56] sfairgrieve commented on #66
@FarhodKurbonov is this occurring in Leaflet 0.7.3 or 1.0.0 beta?  Just wondering, b/c I think Leaflet 1.0.0 beta treats a MultiPolygon as a single Polygon (based on checking out the source code), which I think would not have this problem.  I'm working on a fix for 0.7.3 as well.

[2015-08-05 07:39] FarhodKurbonov commented on #66
Yes, it is occurring in Leaflet 0.7.3. My problem, resolved after updated to 1.0.0 beta. Thank you for your help.

[2015-08-05 11:19] sfairgrieve commented on #66
If you use the 1.0dev branch, that should be compatible with 1.0.0 beta 1.  Let me know if you run into any issues.

[2015-08-13 14:40] FarhodKurbonov opened #67 "Using MarkerClaster with DataLayer"
As I understand, DataLayer extend leaflets LayerGroup and in cicle via method named locationToLayer added every layer in LayerGroup. Is there   opportunity to add layer not to layerGroup but to MarkerClasterGroup. I try it but with no result.  I would be grateful if you take me direction as it possibly to implement claster via DataLayer... Thank for you suggest

[2015-08-13 17:11] iktl opened #68 "IE9+ error with gradient option on L.MapMarker"
I'm getting errors in IE9+ when trying to use `L.MapMarker` with a gradient option. It's throwing an error at:

https://github.com/humangeo/leaflet-dvf/blob/1.0dev/src/leaflet.dvf.markers.js#L397

citing: `Unable to get property 'length' of undefined or null reference`. Viewing the online markers example produces the same results. Has anyone seen the same?

[2015-08-13 17:28] sfairgrieve commented on #67
@FarhodKurbonov you should be create the DataLayer and then just add that DataLayer instance to the MarkerClusterGroup as a single layer.  Let me know if this doesn't work.

[2015-08-13 17:35] sfairgrieve commented on #68
@iktl I haven't seen this, but I'll do some testing in IE9+.  I recently updated this file (w/in the past day or so) to change the line preceding this error from:
[code]
to:
[code]
Due to some errors in Safari - Safari didn't support the children property, and I'm assuming neither does IE.  Can you check and make sure you're definitely using the latest code?

[2015-08-13 17:49] iktl commented on #68
The chunk I'm running is:
[code]
I'll try and run an older version and see if that changes, otherwise I'll sit tight and see the results of your testing.

[2015-08-13 17:52] iktl commented on #68
I'll look into IE and childNodes some, because I'm seeing some documented errors out there and see what I can dig up. If I can find a solution I'll post it here.

[2015-08-13 18:53] rickj33 commented on #53
I needed the same functionality, So i started to extend the L.BarchartDataLayer and override the _getMarkerMethod, but there is an issue. In the L.ChartDatalyer and L.BarChartDataLayer the _getMarkerMethod override removes the record parameter. In the ChartDataLayer the _getLayer method calls the _getMarkerMethod but with out the record parameter even though the record object is passed into the _g

[2015-08-13 23:20] sfairgrieve commented on #53
Good point.  Thanks for pointing this out.  The latest code should have this change in it.

[2015-08-13 23:21] sfairgrieve commented on #68
I pushed up a change that will hopefully fix this.  I haven't had a chance to test in IE 9 yet, so let me know the latest code doesn't fix it.

[2015-08-14 00:43] rickj33 commented on #53
Thanks for responding so quickly.

[2015-08-14 11:33] FarhodKurbonov commented on #67
@sfairgrieve.  I did as  your recommendation in the example of 'earthquake4' of that repository everything works fine. But unfortunately  tooltip functionality was broken (tooltip does not show). Same result with 1.0 branch and leaflet 1.0 beta 1

[2015-08-14 16:37] iktl commented on #68
No joy – using https://github.com/humangeo/leaflet-dvf/blob/1.0dev/dist/leaflet-dvf.markers.js, I'm now getting an undefined error for `Evented` during the `L.Evented.extend()` call.

[2015-08-14 19:39] sfairgrieve commented on #67
Thanks for pointing this out.  I'm seeing the same problem and will try to have a fix in soon.

[2015-08-14 19:40] sfairgrieve commented on #68
I'll look into this some more, but it sounds like the childNodes/children code is no longer the issue.  On which line is the error occurring?

[2015-08-14 21:07] sfairgrieve commented on #68
So the only reference to L.Evented is in leaflet-dvf.utils.js in the L.Animation class (line 1293).  I don't believe I'm actually using that class for anything within the framework at the moment, so if you're comfortable with rebuilding the code using grunt, you could remove that code from leaflet-dvf.utils.js and then rebuild and see if that fixes things.  The strange thing is that L.PosAnimation

[2015-08-14 21:36] sfairgrieve commented on #68
I'm also downloading a VM with IE 9 on it, so I should be able to try out some fixes soon.

[2015-08-14 22:12] sfairgrieve commented on #68
I'm not seeing these issues on my IE 9 VM.  I do see issues with the L.SVGMarker class that I'll fix.  Is this occurring in a particular example or in custom code?  If it's custom code, do you mind sharing your script imports or some sample HTML/JS that's similar to what your doing?

[2015-08-17 19:08] iktl commented on #68
I'd say go ahead and close this for now. Whatever recent changes you pushed have fixed the IE issues in the dist/examples pages in the 1.0dev branch. I'm still getting an error in my application code but I'd say this new issue is probably an interaction with something else in my codebase. I'll poke around and see what I can work out, but it's not coming from leaflet-dvf anymore.

[2015-08-17 19:22] iktl commented on #68
Alright, figured it out. I had to switch over to using Leaflet 1.0 (I think this is mentioned somewhere around the 1.0 dev branch of leaflet-lvf, so my bad) instead of mapbox.js (which is based off the last stable release of leaflet). I have to update some code on my end to use the Leaflet library itself and not the Mapbox superset, but that's no problem. This has fixed the actual leaflet-lvf erro

[2015-08-17 19:22] #68 closed

[2015-08-18 11:27] sfairgrieve commented on #67
Still trying to figure this one out.  I believe since the tooltip is being added to the DataLayer/LayerGroup that clustering is being performed on, the MarkerCluster plugin is hiding it/not displaying it.  I've tried changing the code to add the tooltip directly to the map, but in the MarkerCluster case, it's not calling onAdd for the DataLayer, so _map is never being set.

[2015-08-18 12:02] sfairgrieve commented on #67
Check out the earthquakes4 example in the 1.0dev branch.  I updated this example to use the MarkerCluster plugin.  Right now, it's a little bit hacky, but it works.  I'm still looking at ways to make this better, and I might make another update soon.

[2015-08-18 12:13] sfairgrieve commented on #67
Ok, ignore my comments from a few minutes ago.  The latest code in the 1.0dev branch and the earthquakes4 example should be good.  I changed some of the tooltip logic so it works better with the MarkerCluster plugin.

[2015-08-18 20:38] 11samype opened #69 "WeightedPolyline Opacity Changes"
I am using a weighted polyline for a project and have them inside of a layer group that is turned on and off by the user. I have found that when removing and then adding the layer back to the map, the opacity of the weighted polyline increases each time the layer is added back. Is this a known issue?

[2015-08-19 00:40] sfairgrieve commented on #69
This sounds like a new issue.  I'll look into it and hopefully have a fix soon.  Is this the 0.7.3 version (master branch) or the 1.0dev branch or both?

[2015-08-19 06:23] FarhodKurbonov commented on #67
Thanks a lot for help. It seems tooltip work properly.

[2015-08-19 14:46] 11samype commented on #69
The master branch, specifically the 0.2.4 release. I haven't tried it with 1.0dev.

Here is a fiddle I made to show it: https://jsfiddle.net/wSytj/92/

click the map to remove and then add

[2015-08-21 00:51] sfairgrieve commented on #69
Just pushed a fix.  Let me know if this works for you.

[2015-08-21 13:44] 11samype commented on #69
Works great!

[2015-08-26 16:31] #69 closed

[2015-09-17 07:12] FarhodKurbonov opened #71 "Is it possible to reload the data with new properties?"
In source code  I found setData method that clear previous layers and add new ones. In Examples airports.html I also found using reloadData method. Is it possible to reload not only new data but with new properties(layerOptions, displayOptions and so on)?

[2015-09-18 11:24] sfairgrieve commented on #71
I believe you should be able to do something like this for now:

[code]

I can also add a method that makes this easier.  Let me know if the above example works for you.

[2015-09-21 21:57] 11samype opened #72 "ArcPolyline severity of arc"
I know that there is a way to change the height of an ArcPolyline, but does this affect the severity of the arc? I want to make a very gradual arc, even if the arc is tall/long. Also, the default arc, when vertical, can end lower than the top of the arc visually on screen. (See below) Is there a way to not allow this? Thank you.

![screen shot 2015-09-21 at 4 55 34 pm](https://cloud.githubusercont

[2015-09-22 11:39] sfairgrieve commented on #72
@11samype Good question.  Right now, the severity can be controlled by the height of the arc (using a distanceToHeight function).  I believe using a smaller height value will solve your issues, since when the arcs are more vertical it will move the peak down, but I will also look into ways of making this easier to customize.  Adding additional configuration options should be easy and something I c

[2015-09-22 15:07] 11samype commented on #72
Thank you for the quick response. I will mess around with the distanceToHeight function. Any additional configuration options would be much appreciated.

[2015-09-22 16:01] 11samype commented on #72
I've gone ahead and tried using a LinearFunction with ArcPolyline but am not getting what I am looking for. Box 1 shows what I want each end of my arc to basically look like. At box 2 you can see that even with a reduced height the arc still goes down. At box 3, you can see some odd behavior that happens sometimes. Not sure why.

![arcs](https://cloud.githubusercontent.com/assets/3899855/10023771/

[2015-09-23 12:25] sfairgrieve commented on #72
@11samype The way the arcs appear now is due to using cubic bezier curves.  I'll play around with supporting quadratic bezier curves (through a config flag), which might look better from your perspective.

[2015-09-23 13:51] 11samype commented on #72
Fantastic! Thank you for your time

[2015-09-28 21:35] sfairgrieve commented on #72
@11samype With the latest 1.0dev commits you should be able to change the ArcedPolyline to use quadratic bezier curves rather than cubic bezier curves by setting the _mode_ option to 'Q'.  Let me know  if this makes things better for you appearance-wise.

[2015-09-28 21:38] sfairgrieve commented on #71
The DataLayer _setOptions_ method should now do what I mentioned in my previous comment.  Let me know if this is what you were looking for/makes sense.

[2015-09-29 13:58] 11samype commented on #72
Will that work with Leaflet 0.7.x?

[2015-09-29 22:35] sfairgrieve commented on #72
Oh sorry, I'll apply these changes to the master branch as well.

On Tuesday, September 29, 2015, Peter Samyn <notifications@github.com>
wrote:

[2015-10-01 19:47] 11samype commented on #72
Thanks

[2015-10-07 11:39] sfairgrieve commented on #72
@11samype Do things look better when you use the 'Q' option?

[2015-10-07 13:28] 11samype commented on #72
Yes, I've spent some time with it and am very happy with how it looks. Thank you for the extra effort.

[2015-10-08 00:55] sfairgrieve commented on #72
No problem.  Glad it's looking better!

[2015-10-09 19:47] 11samype opened #73 "Master branch to 0.7.5"
Leaflet 0.7.5 has been released and developers working with 0.7.3 are advised to upgrade.

http://leafletjs.com/2015/09/01/leaflet-0.7.4-released.html

Would this library be safe to move to 0.7.5?

[2015-10-09 23:23] sfairgrieve commented on #73
I'm almost 100% positive you shouldn't have any issues with this library and moving to 0.7.5, but I haven't tried it.  I'll update the examples to use 0.7.5, though, just to be sure.

[2015-10-25 22:39] PedroDMarques opened #74 "Using dvf markers as Leaflet.markercluster's cluster icon."
I've been trying to use the new markers provided with dvf as the cluster group icon for the markercluster plugin but with no success thus far. Since markercluster is expecting a L.DivIcon, is there any work around that I can take to make this happen ? I've been trying to reach down into the core of dvf but I haven't found a way to do so yet, if it is possible.

[2015-10-26 11:11] sfairgrieve commented on #74
Good question.  I'm not sure of a workaround offhand without delving into the MarkerCluster code, and the workaround might be somewhat involved.  I'll definitely look into it, though, and get back to you.

[2015-11-18 23:30] anatamambo opened #76 "includeLayer options for Leaflet DVF Chloropleth not working for numeric data ranges"
I am having problem with implementing the Leaflet DVF includeLayer function (Equivalent to filter) as follows for a Chloropleth GeoJSON Data Layer:

includeLayer: function(feature) {
return (feature.Total_Population <= 1000) && (feature.Total_Population >= 500);
}

Unfortunately there isn't much documentation online. From what i've read, it seems that this can only be applied on string type data a

[2015-11-19 02:45] sfairgrieve commented on #76
That should definitely work.  Is `feature` in this case a GeoJSON feature?  If that's true, then it should probably be:

[code]

What happens if you open the Chrome or Firefox dev tools and put a breakpoint on the return line?  What does `feature.Total_Population` look like?

[2015-11-19 04:30] anatamambo commented on #76
Darn missed the properties part ... It fixed up my coding, thank you so much Scott!

[2015-11-19 05:15] anatamambo opened #77 "Unable to Remove Chloropleth Layer from Map"
Thanks for the help on the previous issue, another issue is regarding removing layers from the map ... I load the GeoJSON dataset (Triggered by a button) as follows:

     function addAreaData()
     {
     var data = $.getJSON("data/area.geojson");

    data.then(function(data) {
          var area = new L.ChoroplethDataLayer(data, {
          //Options in here

         map.addLayer(area);

[2015-11-19 05:35] #76 closed

[2015-11-19 12:48] sfairgrieve commented on #77
Without looking at your code, it's hard to say.  `map.removeLayer(area);` should work.  The only things I can think of are the click handler for the button isn't firing for some reason, or `area` is not defined when the click handler code is executed.  If `area` is defined in your `then` block, does the click handler get defined after that, also in the `then` block?  I guess what I'm getting at is

[2015-11-19 16:54] 11samype opened #78 "ArcedWeightedPolyline?"
Any plans to have such a line? It would be a nice feature.

[2015-11-19 21:39] anatamambo commented on #77
Area is defined globally as follows:

 var area = L.geoJson(null, null);

There are 2 click handlers, 1 to 'Add Data' which executes the aforementioned function 'addAreaData()' which works just fine and a 'Remove Data' button which removes the data in a separate function.

[2015-11-20 14:17] sfairgrieve commented on #77
I'm not sure what the issue might be, then.  I'll throw together an example that matches what I think you're saying and share it with you if it works.

[2015-11-20 14:20] sfairgrieve commented on #78
I've thought about this in the past but haven't gotten around to implementing it.  It may make its way in soon, depending on how much free time I have coming up.

[2015-11-22 21:59] anatamambo commented on #77
OK thanks for that Scott!

[2015-12-03 02:16] sfairgrieve commented on #77
@anatamambo checkout the choropleth example here: https://github.com/humangeo/leaflet-dvf/blob/master/examples/html/choropleth.html.  This is similar to your use case - hope it helps.  Sorry for the delay, btw.  Without seeing your code other than the example you posted above, I'm thinking that b/c `addAreaData` requests the JSON everytime it's just adding a new layer each time the data is returne

[2015-12-06 22:49] anatamambo commented on #77
Nice! Thanks so much for your help ... It's working liek clockwork on my end ... Thank you so much Scott!

[2015-12-06 22:49] #77 closed

[2015-12-11 12:55] torgeir opened #79 "Examples missing?"
Looking through some of your stuff here, curious about the work on the `WeightedFlowLine`, I noticed the examples seem to have gone missing

e.g http://data.thehumangeo.com/leaflet-dvf/examples/html/markers.html (can't resolve host)

[2015-12-13 01:48] sfairgrieve commented on #79
Thanks for pointing this out.  Looking into it now - looks like humangeo.github.io URLs are being redirected to data.thehumangeo.com which is not something I did.

[2015-12-13 02:04] sfairgrieve commented on #79
Should be fixed now.  Thanks again for the heads up!

[2015-12-13 10:41] torgeir commented on #79
No problem! Yeah, that seems to be the case.

I'm still seeing the same thing, though, from https://github.com/humangeo/leaflet-dvf/wiki/2.-Examples
The link to http://humangeo.github.com/leaflet-dvf/examples/html/runmap.html resolves to http://data.thehumangeo.com/leaflet-dvf/examples/html/runmap.html which does not load

[2015-12-13 15:44] sfairgrieve commented on #79
Weird, those examples are working for me now - they no longer redirect to data.thehumangeo.com.  Let me do some more investigating.  Maybe it's taking awhile for the fix to be propagated?  One of my coworkers added a CNAME file to the top level repo for humangeo.github.io that pointed to data.thehumangeo.com.  I removed this file, which seems to have fixed things here, but it's weird that the chan

[2015-12-13 15:50] torgeir commented on #79
I'm in Norway, maybe it's just taking a while :smile: Let me check back some time later!

[2015-12-13 18:20] torgeir commented on #79
Alright, probably a propagation issue. After accessing http://humangeo.github.io directly, subsequent access to http://humangeo.github.com, like for the runmap link, now also resolves correctly

[2015-12-13 18:20] #79 closed

[2016-01-13 23:08] rickj33 opened #80 "Lost the ability to override dynamic options in DataLayer"

[2016-01-13 23:09] #80 closed

[2016-01-13 23:09] rickj33 commented on #80
hit the return key before finishing

[2016-01-13 23:16] rickj33 opened #81 "Lost the ability to override dynamic options in DataLayer"
Before, I could define a DataLayer with these options
 leafletLayer = new L.DataLayer({}, {
                pane               : 'markerPane',
                recordsField       : null,
                latitudeField      : 'lat',
                longitudeField     : 'long',
                locationMode       : L.LocationModes.LATLNG,
                getMarker          : this.getMarker,

[2016-01-14 00:36] sfairgrieve commented on #81
Thanks for pointing this out.  I think this must have been an oversight on my part.  It's sometimes difficult to keep updates synced in both places.  I'll make sure the same functionality gets added to the 1.0dev branch.

[2016-01-14 00:57] sfairgrieve commented on #81
@rickj33 This should now be fixed.  Let me know if you run into any other issues.

[2016-01-14 02:28] rickj33 commented on #81
Thanks for addressing this so fast.
Rick

On Wed, Jan 13, 2016 at 6:57 PM, Scott Fairgrieve <notifications@github.com>
wrote:

[2016-01-15 10:30] rickj33 opened #82 "Layers derived from ChartDataLayer do not honor the getMarker function in options"
I am using the code from the 1.0dev branch.
I was trying to utilize the BarChartDataLayer and use the getMarker option to provide my own styling,
however,  my function was not being called. I traced it to the ChartDataLayer in the _getLayer function.

this section
  if (latLng) {
            marker = this._getMarker(latLng, options, record);
            marker.boundaryLayer = boundaryLayer;

[2016-01-15 10:31] #81 closed

[2016-01-16 00:19] sfairgrieve commented on #82
I agree.  Thanks for pointing this out.  I'll make that fix shortly

[2016-01-16 00:26] rickj33 commented on #82
Thanks for being so responsive and open. LeafletDVF is making my life so much easier
Let me know if you need any help. I cant say that I understand svg but I am willing to do what i can to help.

FYI, I posted on leaflet gitter about removing events, I found that the mouse events which DVF binds to, never get removed.

"I have a question about removing events. I saw in the L.Map the removeLayer ha

[2016-01-18 19:59] rickj33 opened #83 "BarChartDataLayer hides mouse over events for the barchart marker."
I noticed using the BarChartDataLayer, and providing a custom bar marker, that the bar marker never gets the mouse over events due to the BarChartDataLayer having already bound to the mouse events.
I created a custom BarChartDataLayer and overrode the _bindMouseEvents to do nothing, once i did that my custom bar marker started showing the correct tool tip.
[code]

[2016-01-19 01:31] sfairgrieve commented on #83
Thanks for finding this!  I'll look into it and hopefully have a fix soon that keeps you from having to employ workarounds.

[2016-01-26 20:33] rickj33 opened #84 "Question on _getLegend in ChartDataLayer"
Sorry for posting as an Issue, but I did not see any other way of asking a general question, If there is such a way, could you point me to it, and i will use it from now on.

In the method _getLegend  what is the purpose of the legend variable?

[code]
rick

[2016-01-27 01:01] rickj33 commented on #84
Disregard the question, I missed the obvious.

[2016-01-27 01:01] #84 closed

[2016-01-27 01:09] sfairgrieve commented on #84
@rickj33 No problem.  This does beg the question of the purpose of the `dataLayerLegend` variable, though - which seems to serve no purpose.  Thanks for posting the question.  Creating a new issue to ask a question works for me, btw.

[2016-01-27 02:03] rickj33 opened #85 "Possible bug in L.ColorClassFunction"
I was working on creating a legend for a barchartdatalayer and used the L.ColorClassFunction as I had specific colors for the breaks.
in my case both the breaks and colors array have 4 items in each.
but the legend was only showing 3 breaks.
I tracked the issue to the Initialize of the L.ColorClassFunction in the for loop.
[code]
other wise the loop will always skip the last item in the array.

[2016-01-27 02:13] rickj33 commented on #85
I see why the code is the way it is now, I will have to modify my class breaks array to fit my situation.
In my case, I have a breakObject like this
[code]
I was creating the breaks array using the min of each of my metricbreaks, and was expecting to see 4 different colors in the legend, but only got 3.

[2016-01-27 02:13] #85 closed

[2016-01-27 23:10] rickj33 opened #86 "Question: When generating a numeric legend"
I am implementing a custom legend to produce this
![image](https://cloud.githubusercontent.com/assets/154450/12631669/47570150-c518-11e5-95a0-a069b446ec8b.png)

I have it working, but when going through the code in L.Datalayer _getLegend  I saw this line of code
[code]
the question is, what is the -2 * weight mean, is it compensating for the size of the border? and if so does weight mean border wi

[2016-01-28 03:24] sfairgrieve commented on #86
That's correct.  The code is trying to fit n cells with left and right borders into a particular width. The legend sets the border width based on the weight style property, which is the Leaflet way of setting SVG shape/path stroke width.

[2016-01-28 03:26] rickj33 commented on #86
thanks for the explanation

[2016-01-28 16:58] #86 closed

[2016-01-29 23:52] rickj33 opened #87 "Question: About clean up of preProcess and postProcess in LinearFunction?"
I have implemented a custom color function derived from L.PiecewiseFunction, similar to the L.CustomColorFunction, In my implementation I implemented a destroy() method to handle cleaning up some references. As I started going though the code, I noticed that the pre and post Process variables are never set to null.  If I set those variables by using functions on another object, when gc ran I am as

[2016-02-02 00:49] sfairgrieve commented on #87
Good point.  I'm not sure of the answer off hand, but adding cleanup code seems like a good idea.  I'll do some more research, though.  In general I've been bad at worrying about JS GC, but perhaps I need to think about it more.

[2016-02-04 12:27] nhinze opened #88 "Disable toolTip"
Is it possible to disable the toolTip? I can't find it in the documentation.

[2016-02-05 02:45] sfairgrieve commented on #88
Setting the _showLegendTooltips_ option to false should disable them.  I'll update the docs - thanks for pointing this out.

[2016-06-06 13:58] testuserx opened #89 "Export to image"
I am wondering how to export/save, for example, choropleth map with charts (http://humangeo.github.io/leaflet-dvf/examples/html/election2012results.html) to PNG or any other image?

With Leaflet plugins, like "Leaflet-Save-Map-to-PNG" or "leaflet-image" is not possible to achieve this result.

Thanks!

[2016-06-07 12:28] sfairgrieve commented on #89
I'll look into this.  Unfortunately, it might not be easy at the moment without some work on your end.  Theses layers are SVG/vector layers, and I believe most of the export-to-image plugins require actual raster image-based layers, or the ability to have these layers rendered on Canvas instead of using SVG.  Currently, the DVF chart layers don't have corresponding Canvas renderer methods, which m

[2016-06-17 10:45] bahodir-annaev opened #90 "Selecting multiple data points by selecting a rectangular area on map."
Hello, my main goal is to make multiple selection of points by selecting an area on the map.
Is it possible to make a selection of points by mousedown+move. I know that this action will make map to pan, ctrlKey+mousedown+ move can be an option. Any help will be useful.

[2016-06-29 11:29] sfairgrieve commented on #90
My apologies for the delayed response - my day job has been busy recently.  I'm sure this is possible with a little bit of work.  I'll try to post an example soon.  In the meantime, you could also try reaching out to the primary Leaflet developers, since others might have this question with Leaflet in general.

[2016-07-13 14:34] snkashis commented on #89
I'd recommend using [PhantomJS](http://phantomjs.org/) (or another headless tool like it) to [capture to PNG](http://phantomjs.org/screen-capture.html).

[2016-07-22 18:26] rickj33 commented on #89
What I did to accomplish this was to create my own SaveImage object and custom renders for tile,canvas, svg.

the  SaveImage.createImage function takes the map as a parameter.

- It creates a canvas to hold the final image.
- It then divides up the layers in the map into one of three collection, Tile,Canvas, SVG.
- For each collection, it calls the appropriate custom renderer and returns a single

[2016-07-22 18:48] sfairgrieve commented on #89
Thanks @rickj33!  I would definitely be interested in seeing it.

[2016-07-24 17:56] rickj33 commented on #89
Ok, I will try to clean up the code and put it in a public repo

[2016-07-26 15:50] rickj33 commented on #89
Just letting you know, I hope to have the code cleaned up and an example made by monday 8/1/2017.

[2016-07-28 15:14] sfairgrieve commented on #89
Awesome, thanks @rickj33!

[2016-08-01 02:28] rickj33 commented on #89
@sfairgrieve
I was able to pull out the code I use to capture map images with leaflet.
The repo is here. (https://github.com/rickj33/captureLeafletImage)

I originally wrote this about a year ago and really has not been looked at since.  There was major issue we ran across and that is related to zoom animation. When animation is enabled, and the map is zoomed in/out or panned, then when I captured

[2016-08-03 20:45] csxphil opened #92 "Utilizing custom panes"
Is there support for using panes in the 1.0dev branch with Chart Layers?
 Specifying it in options like this:
`{ pane:'fore', layerOptions: {...},chartOptions:{...}}`

[2016-08-04 00:31] sfairgrieve commented on #92
This should work if you stick the _pane_ option under _layerOptions_ like so:

[code]

[2016-08-04 17:06] csxphil commented on #92
Shucks, that worked! Thank you!

[2016-08-04 17:06] #92 closed

[2016-09-14 06:41] trillerpfeife commented on #7
hey,
ive been trying out the method @sfairgrieve suggested:

but it doesn't work out!
I made a fiddle to show my problem: http://jsfiddle.net/LnzN2/249/

[2016-09-14 09:22] trillerpfeife opened #96 "RadialMeterMarker overwrites options with backgroundStyle options?"
L.RadialMeterMarker draws a marker with given options but returns wrong options. For example:
[code]
Returns a marker with following options:
[code]

I think due to the "Add a background" implementation the option properties will be overwritten, right?

[code]
https://github.com/humangeo/leaflet-dvf/blob/1d47d672d0ac2d617a3ddb681a33c657f7fee7a1/src/leaflet.dvf.chartmarkers.js#L924

[2016-09-14 11:22] sfairgrieve commented on #96
Thanks for pointing this out.  Let me see if I can figure out what's going on.  I'll try to push an update soon.

[2016-09-14 11:26] sfairgrieve commented on #7
@trillerpfeife the suggested approach doesn't seem to work quite right with the RadialMeterMarker.  As mentioned in issue #96, I'll take a look and hopefully push a fix soon.  For now, this seems to work:

[code]

One key is to set backgroundStyle to null so that no background is displayed.  I think you are correct that the backgroundStyle options are interfering with the regular options.

[2016-09-14 15:43] trillerpfeife commented on #96
Thanks for your fast response. I also found an issue with redrawing

[2016-09-14 15:45] trillerpfeife commented on #96
Thanks for the fast response. I also hat issues with redrawing L.RadialBarChartMarker, after every redraw the size increases.

[2016-09-14 21:21] sfairgrieve commented on #96
Pushed a potential fix to this branch:  https://github.com/humangeo/leaflet-dvf/tree/feature/chartmarkerfix

Can you give this a try when you get a chance and let me know if that fixes things for you?

[2016-09-20 12:54] sfairgrieve commented on #96
@trillerpfeife Did that fix work for you?

[2016-09-26 20:56] trillerpfeife commented on #96
Thanks @sfairgrieve for the fix. I ended up making my own pie chart marker based on https://github.com/iatkin/leaflet-svgicon due to extend it in various ways.

[2016-11-10 19:19] rfsaldanha opened #100 "L.Graph on wiki"
Can't find L.Graph reference in the wiki.

[2016-11-18 21:05] sfairgrieve commented on #100
I've been bad with documentation - my apologies.  I'll try to post some updates soon.  In the meantime, I hope the examples are somewhat helpful.  Also, let me know if you have any questions.

[2016-11-24 14:21] jagb1007 opened #101 "Leaflet markers within a radius"
Good morning can help me with some tutorial, where I can draw a marker anywhere on the map and by a combo box can choose a distance and I can draw a circle by seeing the names of markers that are in that circle, something like that

![draw radius](https://cloud.githubusercontent.com/assets/22983242/20601587/5c7a58aa-b227-11e6-8953-6f2e35cdd996.png)

[2016-12-01 22:42] sfairgrieve commented on #101
This seems like a more general Leaflet JS question, but I can try to answer it.  You can use [Leaflet.Draw](https://github.com/Leaflet/Leaflet.draw) for the drawing functionality.  When a user draws a circle, you can get the radius in meters of that circle.  Or, you can let the user place a marker using Leaflet.draw and then add a new L.Circle layer to the map using the radius from the combobox.

[2016-12-06 19:30] joakimkejser opened #102 "Customizing tooltips"
Hi,

First of all, thanks for a great library!

I have some questions regarding tooltips:

Sometimes, I would like to use displayOptions and a data property to customize a visualization, but I do not want to show the data property in the tooltip - is there a way to avoid that?

Is there an easier way to change the "title" of the tooltips (the one above the legend)? I have managed to do so for a Ma

[2016-12-07 17:30] sfairgrieve commented on #102
Thanks @joakimkejser.  Great questions, which should lead to some new features in the future.  You should be able to disable the tooltips altogether by setting `showLegendTooltips` to `false` in the options you pass in to the DataLayer.  You can exclude properties you've called out in displayOptions by setting `excludeFromLegend` to `true` under the options associated with a given display option.

[2016-12-07 21:10] joakimkejser commented on #102
@sfairgrieve, thanks for getting back to me.

`excludeFromLegend` does indeed exclude the given display option from the legend, but not from the tooltip. This behavior is demonstrated in the "DC Metro Bus Locations" example. I can however also imagine examples where you would want to exclude a displayOptions from the tooltip but include it in the legend (say you dynamically scale the radius/weight

[2016-12-08 00:09] sfairgrieve commented on #102
You're right.  Great points/suggestions.  I think these are all things that should be configurable.

You should be able to hide the legend boxes using CSS.  Something like:

[code]

Let me know if that doesn't work.

I'm definitely open to contributions, so if you feel like implementing any of these suggestions, I'd be happy to accept pull requests.  I'll let you know when I start working on these

[2016-12-13 01:30] sfairgrieve commented on #102
@joakimkejser After reviewing the code, I also forgot that this option existed, but you can pass in an option called `dynamicOptions` that is a function that takes a record as input and should return an object with a `layerOptions` property (key/value pairs for styling the legend box) and a `legendDetails` property for what fields/values to display.  So:

[code]

The `_getDynamicOptions` function

[2016-12-13 12:58] joakimkejser commented on #102
@sfairgrieve Yes, that does indeed work with a small change:

[code]

I called the original function to avoid having to define all my layerOptions again, but this is also a nice way to allow complete control over those. The legendDetails need a "name" and "value" for it to work.

Is there a way to call `_getDynamicOptions` without referencing my layer instance?

Thanks! This solves my problem for

[2016-12-13 14:34] sfairgrieve commented on #102
Great!  Yeah, I just noticed that `dynamicOptions` is not being passed the DataLayer instance as the context (I'll fix that).  Once I fix that, you should be able to call `this._getDynamicOptions(record)`.  Saw your pull request as well and will try to accept that tonight.  Your help and input is definitely appreciated!

[2016-12-14 14:31] joakimkejser commented on #102
@sfairgrieve the pull request is just a minor change, so no hurries. Asesome, the context will be very useful in `dynamicOptions`.

I have stumbled upon another issue related to tooltips. If `showLegendTooltips` is set to `false`, `setHighlight` and `unsetHighlight` cannot be used to create a hover effect, as these are bound in the `_bindMouseEvents` which is only called if `showLegendTooltips` is

[2016-12-20 15:07] sfairgrieve commented on #102
@joakimkejser I pushed some updates to master and 1.0dev that address some of your suggestions.  Can you give these updates a try when you get a chance?  I did some testing, but I'm hoping you can validate things to make sure I didn't miss anything.  I may also break out your suggestions into separate issues, so I can track them better.

[2016-12-20 20:54] joakimkejser commented on #102
@sfairgrieve Thanks for working on this. When I load in 1.0dev, everything works fine, but master gives me an error. I think I've tracked it down to some issue with `L.ArcedPolyline` where the implementation of `initialize` is different between master and 1.0dev. To be fair, I previously used the distribution used in the examples: http://humangeo.github.io/leaflet-dvf/dist/leaflet-dvf.js, which sh

[2016-12-21 01:21] sfairgrieve commented on #102
Thanks @joakimkejser.  That makes sense.  master is setup to work with Leaflet 0.7.x and 1.0dev is setup to work with Leaflet 1.0.x.  At some point in the near future, I'll switch master to be the 1.0.x compatible version and ween off any updates related to the 0.7.x version.  It's tough trying to support both codebases.

The changes you've listed are right.  I also updated the code so that the `o

[2016-12-21 13:01] joakimkejser commented on #102
@sfairgrieve I tested all of the above against the 1.0dev branch, and it works as intended! Reading through our discussions above, the enhancements related to tooltips that are still missing are:
- an option to hide the legend icon in the tooltip box
- an optional function to complete overwrite the tooltip content

With that in place, I think we have achieved completely customizable tooltips!

I m

[2016-12-22 12:04] sfairgrieve commented on #102
Thanks for validating.  I'll plan to add those additional features in the next few days.  Any feedback/improvements you have for L.Graph will be much appreciated.

[2016-12-22 12:05] sfairgrieve opened #104 "Optional function to completey overwrite the tooltip content"
See issue #102

[2016-12-22 12:06] sfairgrieve opened #105 "Option to hide the tooltip legend label"
See issue #102

[2017-01-06 00:45] sfairgrieve commented on #102
@joakimkejser I pushed some updates to the feature/custom-tooltips branch, if you want to check it out.   This should address #104 and #105.

For #104:

Under `tooltipOptions` you can include a `getTooltip` function that takes the `record`, `legendDetails`, and `layerOptions` and returns an `L.DivIcon` instance.

For #105:

Under `tooltipOptions` you can include a `hideLegendBox` property with a v

[2017-01-06 09:22] joakimkejser commented on #102
Hi @sfairgrieve ,
Thanks for you continued effort to improve the tooltips.

After remembering to update the css, the `hideLegendBox` property in the `tooltipOptions` on the 'feature/custom-tooltips' branch works exactly as expected, solving #105.

I will test and explore the `getTooltip` function later.

Cheers.

[2017-01-13 10:39] joakimkejser commented on #102
Hi @sfairgrieve ,

The `getTooltip` in the `tooltipOptions` function works, and does indeed overwrite the complete tooltip! This is great!

I discovered a possible side effect of the changes. Using L.PieChartDataLayer (or any ChartDataLayer i assume), I now how to specify `showLegendTooltips: true` to get tooltips. This is a change from before, but it makes sense as `L.ChartDataLayer` specifies th

[2017-01-14 13:56] sfairgrieve commented on #102
Thanks for testing this out!  I'll investigate and see if I encounter the same issues.

[2017-01-14 14:39] sfairgrieve commented on #102
I see the issue.  This is a side effect of removing the if statement around `_bindMouseEvents` a few commits back.  Before, if `showLegendTooltips` was false, the DataLayer would not call `_bindMouseEvents` on child layers.  Now, `_bindMouseEvents` is being called whether `showLegendTooltips` is true or false, which is preventing the child ChartMarker from getting that hover event.  I'll try to pu

[2017-01-16 13:22] joakimkejser commented on #102
@sfairgrieve, your recent changes in the feature/custom-tooltips branch seems to have solved my issues. I'm aware that there still might be some customization issues - haven't checked any of that.

[2017-01-16 15:16] joakimkejser opened #106 "Problem with Legend/displayOptions/StylesBuilder"
Hi,

I'm having a few issues with the styles as well as the related legend when using multiple `displayOptions` and the `L.StylesBuilder`. In particular, the order in which i specify my `displayOptions` influence the result I get, where each covers only a portion of what I'm trying to achieve.

I use a L.Graph to map from-to flows. I size the `weight` of the line by one property (continuous variab

[2017-01-16 15:33] joakimkejser opened #107 "Options to allow the Legend control to stay 'larger'"
Hi,

To my knowledge, it is currently not possible to force the `L.Control.Legend` to stay "large", as the 'larger' CSS class is toggled on mousover/out.

Is there a specific reason as to why this is not possible? If not, I would like to suggest an option to disable the toggling behavior and keep the legend large at all times, similar to the "collapsed" options of the `L.control.layers`.

Implemen

[2017-01-16 16:02] joakimkejser commented on #106
Just to clarify, this also happens with a `L.DataLayer`.

Don't want `L.Graph` getting any unwarranted blame!

[2017-01-17 12:41] sfairgrieve commented on #107
At the moment, this behavior should be controllable via CSS.  I'll post an example soon.  Thanks for the continued feedback/ideas.  I think an option to disable the default behavior programmatically is a great idea.

[2017-01-17 12:55] joakimkejser commented on #107
Great - looking forward to the example.

I can give the implementation of the option a shot towards the 1.0dev branch if it is helpful to you?

[2017-01-17 13:00] sfairgrieve commented on #106
@joakimkejser Thanks for pointing this out.  I'll investigate.

[2017-01-17 16:06] sfairgrieve commented on #107
If you want to add an implementation of that option, that would be awesome!  Thanks for helping out.  Using CSS, you can do this:

[code]
Just make `value` some value that's larger than your content e.g., 500px or 50%.   The `larger` class just sets `max-height` to 50%.

[2017-01-18 20:49] joakimkejser commented on #107
@sfairgrieve I've given it a shot, adding an `toggleSize` options that defaults to true, leaving behaviour unchanged compared to now. If set to false, no events will be bound to `L.Control.Legend`'s `toggleSize` method. If you have any inputs on i.e. better option naming, just let me know.

Thanks for the CSS example. I also discovered in the armedconflicts example that this does the job:
[code]

[2017-01-20 01:17] sfairgrieve commented on #106
Still trying to figure this one out.  Definitely an interesting one! ;)

[2017-01-23 12:12] sfairgrieve commented on #106
I think I figured it out.  I'm still testing the fix to make sure it doesn't affect anything else.  When it's at a good point, I'll push the code to a new branch and let you try it out just to make sure it solves your issue.

[2017-01-24 00:49] sfairgrieve commented on #106
@joakimkejser I think the feature/styles-fix branch may fix this problem.  Can you take a look when you get a chance and see if it works for you?

[2017-01-24 07:22] joakimkejser commented on #106
@sfairgrieve I'll take a look at it during today. Thanks for spending time on this!

[2017-01-24 07:23] #107 closed, assigned to nobody

[2017-01-24 10:27] joakimkejser commented on #106
@sfairgrieve This fixes my problem! It does not matter which order I specify my `displayOptions`, and all "effects" are preserved both ways. Cheers!

When do you expect to merge this and the other fixed issues (tooltips) into 1.0dev?

[2017-01-24 12:17] sfairgrieve commented on #106
Great!  I'll merge this/other fixes later today/tonight.  Thanks for testing and continuing to help find and resolve these issues.

[2017-02-08 18:52] #106 closed, assigned to nobody

[2017-02-08 18:52] #105 closed, assigned to nobody

[2017-02-08 18:52] #104 closed, assigned to nobody

[2017-04-17 18:58] nhinze opened #109 "Performance issues when updating to 0.3.1"
I'm working to update to Leaflet 1.0 and dvf 0.3.1. I used to be on LL 0.7.7 and some version of dvf .2 (at least a year old if not more).

The drawing performance was great. I use FlowLines with CustomColorFunctions. Using the new dvf 0.3.1, it takes a few seconds to draw a FlowLine. My FlowLines have 100s of points.

Are there any known issues? How can I figure out what is slow?

[2017-04-17 23:42] sfairgrieve commented on #109
@nhinze What was the issue?  Just curious.

[2017-04-17 23:50] nhinze commented on #109
Closing Chrome and restarting it fixed it. It seems that having the JS Console open slowly creates this slowdown after reloading the page many times.

[2017-04-17 23:54] nhinze commented on #109
However, it appears the Chrome is still much slower at drawing dvf than before. I can see the FlowLine being drawn. Firefox has the same speed as Chrome. Safari on the other hand is very fast. This is on Mac. I have not tested Windows yet.

[2017-04-19 01:37] sfairgrieve commented on #109
Can you share an example?  If not, I can try to recreate it.  Just curious on the specifics to help better understand what might be causing the issue.

[2017-04-19 09:45] nhinze commented on #109
The LL 1.0 update is not live yet. I'm still doing a lot of testing. It probably will be a week or 2 before it goes live. Here is a link to show you how I'm using dvf using LL 0.77:

https://en.mycoursewalk.com/rides/720

[2017-04-19 11:49] sfairgrieve commented on #109
Very cool app!  This example definitely helps.  I'll take a look and see if I can figure out what the problem might be.

[2017-04-22 18:00] sfairgrieve commented on #109
Still looking into this.  It's not clear why the performance is worse, but it does seem to be.  One thing to play around with is the `smoothFactor` option (add this to `layerOptions`).  Try a value greater than 1.  Maybe something like 4 or higher.  This seems to improve the performance in my testing.

[2017-05-04 11:21] sfairgrieve commented on #109
@nhinze Did changing `smoothFactor` help at all?  Just curious.  Unfortunately, I haven't figured out any other answers at the moment, although I am still investigating.

[2017-05-04 12:10] nhinze commented on #109
I haven't had a chance to test yet. I'm going to get back to it next week. I did test IE11 and Edge. Both work fine. Safari is fine. Need to test Chrome and Firefox on Windows. Chrome and Firefox on Mac are slow.

[2017-05-10 12:27] cdrfun opened #110 "How to customize Tooltip Title (ChoroplethDataLayer with GeoJSON)"
Hi there,
I have a GeoJSON dataset and use the following data layer definition:
[code]
This results in:
![image](https://cloud.githubusercontent.com/assets/146877/25898446/7b90d28a-358c-11e7-93da-f9ebfea85da3.png)

But I want to write the Information in properties.NAME_3 (Landkreis) in the title of the tooltip where it currently says [object Object].

How can I achieve that? Many thanks in advance

[2017-05-10 17:16] sfairgrieve commented on #110
Use the `locationTextField` option.  This can either be a reference to a property like `properties.NAME_3` or it can be a function that takes a record as input and returns a string.  Try this:

[code]

[2017-05-11 06:18] cdrfun commented on #110
Thank you! Works like a charm 😃

[2017-05-11 08:38] #110 closed, assigned to nobody

[2017-05-12 09:47] nhinze commented on #109
I have finally upgraded my app. The loading can be a bit slow in Chrome, but the performance seems ok for now. For my app, I need to keep the smoothFactor at 1.

Thanks for you help. It's a great plugin!

[2017-05-22 08:49] shabala commented on #100
Hello @sfairgrieve ,  I am also facing problems without proper documentations.  Could you please help with a generic example for L.Graph / kindly update the documentation.

[2017-05-22 11:17] sfairgrieve commented on #100
@shabala absolutely.  If you tell me what doesn't make sense, I'll try to focus on that in the documentation.  Is the problem that the examples are too complex?  If you have specific questions about things, ask those as well.  Just want to make sure any documentation updates address typical problems people are having with L.Graph.

[2017-06-02 10:21] cdrfun opened #111 "Is it possible to define marker sizes with scale? [question]"
Currently the marker sizes stay the same when I zoom in or out.
Is it possible to stay in scale with those sizes? So I can define a marker should have a size of 10 km?

[2017-06-08 07:33] ymz1124 commented on #111
I hope the size can be automatically changed when I zoom in or out, but I don't know how to do.

[2017-06-10 13:07] sfairgrieve commented on #111
@cdrfun Sorry for the delayed response.  One way of doing this is to use L.RegularPolygon or L.Circle, if you're ok with markers that are simple shapes.  Does that meet your needs, or are you looking for image markers (L.Marker) that stay a fixed size?

[2017-06-12 05:27] ymz1124 commented on #100
The 'US Airports and Flight Data' example is hard to understand without document about L.Graph. Besides, after reading deep into the source core, I  have a question that whether processing data in the front end is a proper visualization solution. In that example, flight data and airport data are stored in JavaScript files. However, in some circumstances, the data is not public.

[2017-06-12 10:57] cdrfun commented on #111
@sfairgrieve It's ok, no hurries ;) I would want to use L.Marker, but if only L.RegularPolygon and L.Circle are capable of this feature, it will do.

For future reference:
For circle it is:  http://leafletjs.com/reference-1.0.3.html#circle-option
And for Polygon: https://github.com/humangeo/leaflet-dvf/blob/master/src/leaflet.dvf.regularpolygon.js

[2017-06-13 09:34] amalshehu opened #112 "Uncaught ReferenceError: L is not defined"
I'm using leaflet-dvf in my angular 2 project.

I tried to integrate leaflet-dvf in my angular 2 application.

I added its scripts on index.html

#### index.html
[code]
#### map.component.ts
[code]
But I'm getting the following error
![image](https://user-images.githubusercontent.com/12576673/27076023-9c972272-5049-11e7-90cd-285d28aa51bc.png)

[2017-06-13 10:56] sfairgrieve commented on #112
@amalshehu One thing to try is to use either `leaflet-dvf.js` or `leaflet-dvf.markers.js`, not both.  `leaflet-dvf.js` has everything in `leaflet-dvf.markers.js`, so you don't need both, and importing both usually causes issues.  If you just want the Leaflet DVF markers and nothing else, use `leaflet-dvf.markers.js`.  I assume you're importing Leaflet as well?

[2017-06-13 11:01] sfairgrieve commented on #100
@ymz1124 I'll try to throw together a simpler example and update the docs at some point soon.  With regard to data not being public, there's nothing that prevents you from querying a graph database or web service and dynamically populating `L.Graph` with data from the server.  Storing data in JavaScript files in the examples is simply done for convenience.

[2017-06-13 13:04] amalshehu commented on #112
Great info, I will check this.

[2017-06-21 08:17] sshikov commented on #74
The same thing. marker cluster requires function to create icon, not marker.

Another issue probably - when I use DVF markers in marker cluster, click on cluster icon displays pie chart markers broken - i.e., segments of pie chart moved apart of each other. I'll try to attach screenshot later. This is probably an issue of marker cluster, but I can't understand, why cluster code could even split sv

[2017-06-29 14:31] cenkentimist opened #113 "latest version of leaflet seems to forbid extending L.DomUtil"
this causes an error when you attempt to extend it.
edit: add stack trace
edit2: leaflet specifically is calling Object.freeze on a number of things.

[code]

[2017-06-29 18:20] cenkentimist commented on #113
closed, this is an issue with leaflet, not leaflet-dvf
https://github.com/Leaflet/Leaflet/issues/5589

[2017-06-29 18:20] #113 closed, assigned to nobody

[2017-07-31 16:22] ghost opened #114 "[dvf markers as Leaflet.markercluster's cluster] : Uncaught Error: Invalid LatLng object: (NaN, NaN)"
I'm trying to use the new markers (especially "PieChartMarker") provided with DFV as the "markerClusterGroup", and I'm getting this error:
[code]
Is there something I can do to make it work ?
Thanks for your help!

[2017-08-02 20:38] tlhampton13 opened #115 "when the center of a geohash's bounding box is 0,0 dataLaer fails -- 0,0 is a valid lat/lng"
In leaflet.dvf.datalayer.js GEOHASH function.

The following condition fails if the center of the bounding box evaluates to 0,0 witch is a valid lat/lng location.  Specifically, this is the location that the Equator and the Prime Meridian intersect.

[code]

a little farther down, since the bounds is undefined this line fails

[code]

This will cause an entire dataLayer to fail if a single center

[2017-08-02 20:40] tlhampton13 commented on #115
Actually, this will fail anytime the center of a geohash falls on the Equator or the Prime Meridian.

[2017-08-03 12:11] sfairgrieve commented on #115
@tlhampton13 good catch.  Should be fixed soon.

[2017-08-03 12:13] sfairgrieve commented on #114
@lyDevops can you provide a little more info. as to your current setup?  It could definitely be something with `PieChartMarker`, but it's hard to say offhand without a little more info.

[2017-08-04 11:56] tmeedend commented on #114
Hi, I am a colleague of @lyDevops .

This problem happens when we add a PieChartMarker to a « L.markerClusterGroup ». This group is from the leaflet MarkerCluster plugin : https://github.com/Leaflet/Leaflet.markercluster

If we add our PieChartMarker to a classic L.featureGroup, this problem doesn't occur.

We are using leaflet-1.0.3, markercluster-1.0.3 and leaflet-dvf-0.3.1.

Thank you again.

[2017-08-08 00:57] sfairgrieve commented on #115
Giving this some more thought, I don't believe this scenario will ever happen, or is it actually happening for you?  The geohash of 0, 0 is s0, s00, s000, s0000, and so on.  If you calculate the center of any of those geohashes, it's never 0, 0. In order for it to actually be 0, 0, you'd have to have a super long geohash string.  In general, that code could probably use some refactoring/cleanup, b

[2017-08-09 18:16] tlhampton13 commented on #115
@sfairgrieve

You are correct.  No geohashes actually span the Equator or Prime Meridian.  These lines would fall along a bounding edge of the adjacent geohashes.

I am getting a failure in the GEOHASH function though because the bounds is undefined.  But the reason is not as I originally described.

In some of my records the geohash fields is empty string.

[code]
When this happens the GeoHash.de

[2017-08-10 06:46] Mahendershah opened #116 "ArcedPolyline is filling at zoom level more than 16"
In the US Airports and Flight Data example if we zoom beyond zoom level 16 the Arced Polyline are filling the color in the entire Map.
Attached is the snapshot of the Map behavior. This is not happening in IE Browser only happening in Chrome.

![mapfilled](https://user-images.githubusercontent.com/7880380/29157717-a997ea0c-7dc5-11e7-9342-af1c6c086074.png)

[2017-08-28 11:55] mdurazob opened #117 "Div not visible inside popup"
Hi

I am trying to put a HighCharts inside the default popup table that comes with this code:

`onEachRecord: function (layer,record) {
			var $html = $(L.HTMLUtils.buildTable(record));

			layer.bindPopup($html.wrap('<div/>').parent().html(),{
				minWidth: 600,
				maxWidth: 700
			});
		},
`

The code for the records is this:

`var NLpopdens =[
	{
		"CODIGO": "01",
		"NAME": "10",
		"POPU": "63

[2017-08-29 16:51] sfairgrieve commented on #117
I think this is an issue with the element not existing in the DOM when you call the Highcharts initialization code.  When you call `bindPopup`, it's telling Leaflet to display the associated HTML when a user clicks on that layer.  The associated HTML that you're passing to `bindPopup` is not part of the DOM until the layer is clicked and the popup is displayed.  I would suggest handling the layer

[2017-08-30 11:22] sfairgrieve commented on #116
@Mahendershah apologies for the delayed response.  You're right.  That's weird.  I'll investigate, but I'm not certain this will be an easy fix.

[2017-08-31 11:22] sfairgrieve commented on #115
@tlhampton13 apologies for the delayed response.  Did you make any progress with this?  For now, my suggestion would be to either remove records that have a blank `geohashField` before passing the data to the `DataLayer` (e.g. using lodash or your own JavaScript) or implementing your own LocationMode function (you can use the GEOHASH one as a starting point).  I agree that the existing code in Lea

[2017-09-18 10:24] tmeedend commented on #114
Hello,

We can close this issue, the problem was that we were doing some divisions with zero.

Sorry for the inconvenience.

[2017-09-18 11:13] sfairgrieve commented on #114
@tmeedend Great!  Thanks for the heads up.

[2017-09-18 11:13] #114 closed, assigned to nobody

[2017-09-27 06:37] andipahlevy opened #118 "Change color line"
How can i change color of the line in airport map..
so i can view the different between inbound and outbound

[2017-09-28 00:48] sfairgrieve commented on #118
For a particular airport that a user selects? You should be able to change the `displayOptions` for the line layer and assign different colors based on the `from` or `to` properties.  I've pushed a new example to the 1.0dev branch:  https://github.com/humangeo/leaflet-dvf/blob/1.0dev/examples/html/airports3.html.  Let me know if this helps.

[2017-09-28 10:24] andipahlevy commented on #118
Thanks its work! :D

[2017-10-05 05:07] Mahendershah commented on #116
Any updates on this issue?

[2017-10-05 12:51] sfairgrieve commented on #116
@Mahendershah not yet.  I've looked into it a little bit, but no solution is jumping out to me at the moment.

[2017-10-16 09:41] andipahlevy commented on #118
sir, how to create a filter for inbound and outbound? so i can hide or display both

[2017-10-26 22:51] TharaCJ opened #119 "Compatibilty with leaflet1.2.0"
Is the master branch version compatible with leaflet1.2.0.
Getting error L.Path.prototype.initialize undefined while trying to create a polygon marker. Appreciate any help.

[2017-10-27 13:01] wojiaohanshuai opened #120 "create PieChartDataLayer use Geojson data"
i create a PieChartDataLayer  use geojson, and i add it to the map, the PieChartDataLayer  is invisiable, i guess the options arguments not correct and i don't know how to solve...

my geojson is
[code]

my code is

[code]

thx for your help

[2017-10-27 13:11] sfairgrieve commented on #119
@TharaCJ The 1.0dev branch is compatible with Leaflet 1.x.  Master is still only for Leaflet 0.7.x and below for now, although I have plans to move the 1.0dev stuff to master, since 0.7.x is probably no longer used as much.

[2017-10-27 17:12] TharaCJ commented on #119
Thanks .. it worked..

[2017-10-27 20:00] sfairgrieve commented on #120
@wojiaohanshuai I'll check it out.  Your example looks OK to me at first glance, but I'm going to throw together an example based on what you've provided to figure out what the issue is.  Should have an answer shortly.

[2017-10-27 20:07] sfairgrieve commented on #120
It looks like the issue is the actual GeoJSON.  In the example above, the geometry type is MultiPoint, but the coordinates contains a single point rather than an array of points.  If you change it to Point instead of MultiPoint, it works just fine.

[2017-10-28 06:59] wojiaohanshuai commented on #120
@sfairgrieve thx for your help, i made a demo use geojson (Point) this morning, it works :+1: . [http://jsfiddle.net/damncoder/e74crctg/2/](url)

[2017-11-28 12:26] Zhurzhiu opened #121 "Question about React integration with Leaflet 1.2.0 and Leaflet-dvf 0.3.1"
I am trying to move your implementation to ES6/React. And found problems with that, which I described in this [StackOverflow question](https://stackoverflow.com/questions/47513470/leaflet-dvf-reactjs-implementation). Can you please give advice or comment on this?

[2017-11-28 23:25] sfairgrieve commented on #121
It looks like things are working, but it's a layer order/z-index problem.
I assume you're including the leaflet CSS?  In leaflet.css the z-index
values are set for those various layers, with leaflet-overlay-pane having a
higher z-index value than the other layers.

On Tue, Nov 28, 2017 at 7:26 AM Zhurzhiu <notifications@github.com> wrote:

[2017-11-29 08:50] Zhurzhiu commented on #121
Thanks for response.  Actually, I was trying following things:
1) CSS files in combined mode
   Added leaflet.css via html template (I didn't managed how to import it via ES6 import/webpack)
   Added leaflet-dvf.css via import

2) CSS files in html template:
   Added leaflet.css via html template
   Added leaflet-dvf via html template straight after leaflet.css

3) Chaneged z-index via Leaflet pan

[2017-11-29 17:03] sfairgrieve commented on #121
@Zhurzhiu if you inspect element on the leaflet-overlay-pane element, does it have an assigned z-index value of 400?  Same with leaflet-tile-pane, does it have an assigned z-index value of 200 from leaflet.css?

[2017-11-29 17:17] Zhurzhiu commented on #121
I added screenshots from three panes:
1) leaflet-tile-pane
2) leaflet-overlay-pane
3) leaflet shadow pane

Changing z-index on any of them didn't make any effect at all.

![leaflet-overlay-pane](https://user-images.githubusercontent.com/17176725/33388858-cab28e92-d539-11e7-8e4d-9d0a47f5ca8b.png)

![leaflet-shadow-pane](https://user-images.githubusercontent.com/17176725/33388860-cacc8dc4-d539-11e7-

[2017-11-29 18:11] sfairgrieve commented on #121
Hmmm.  This is definitely a weird one.  Any chance you could post a jsfiddle or similar example that I can take a look at?  I haven't used React with Leaflet or Leaflet-DVF before, so it's hard for me to fully grasp what the problem could be.

[2017-11-29 18:16] Zhurzhiu commented on #121
Thanks @sfairgrieve for your advice to make and example. I created example and it worked. So I checked other things, and found one CSS conflicting with DVF.
You can close this issue, because it's not issue anymore. Leaflet-dvf is playing really good with React. Thanks for this library!

[2017-12-01 16:37] sfairgrieve commented on #121
@Zhurzhiu glad to hear it!  I'll close this one, but let me know if you run into any other issues.

[2017-12-01 16:37] #121 closed, assigned to nobody

[2017-12-22 12:38] corinat opened #122 "On click on a slice of the pie table should show only the value of that slice, not the values for all the slices"
Hi,

I am trying to understand the structure of the javascript files used to create the pies and managed to actually add my own data.
What I would like to do next is when clicking on a slice is to show only the values for that slice, not for all the pie. Didn't really find a way to select only one slice.
Some tips would be much appreciated.

[2018-01-02 21:18] sfairgrieve commented on #122
@corinat Apologies for the delay - I was on vacation.  Currently, there's no out of the box way of doing this, but I don't think it would be too difficult to implement.  One approach would be to extend `L.PieChartMarker` and override the `_bindMouseEvents` method with your own logic for handling interaction with each pie slice.  `_bindMouseEvents` gets called for each slice of the pie chart marker

[2018-01-03 10:23] corinat commented on #122
@sfairgrieve, thank you for the advice. Do you think that customizing the file that holds the data that are shown onlick could also work? It is a bit of work, but might a be a solution too, although your advice has more sense.

[2018-02-01 01:02] TharaCJ opened #123 "Create 3D pie chart markers"
Is there any option to create 3D pie chart markers on leaflet map?

[2018-02-01 21:13] sfairgrieve commented on #123
@TharaCJ At the moment there is not.  Hopefully that's not a deal-breaker for your project.  Would always be open to contributions if you feel that might be a useful feature.

[2018-02-02 00:45] TharaCJ commented on #123
Thanks for the update

On Thursday, February 1, 2018, Scott Fairgrieve <notifications@github.com>
wrote:

[2018-02-07 12:08] testuserx opened #124 "Leaflet 1.2.0 and L.Mixin.Events"
Using Leaflet 1.2.0+ and Leaflet-dvf is producing warnings in console:

"Deprecated include of L.Mixin.Events: this property will be removed in future releases, please inherit from L.Evented instead."

See attached screenshot of console:

![Image of console warning](https://user-images.githubusercontent.com/7327440/35915642-553e42b0-0c10-11e8-8f29-37981f98809c.png)

Is there any solution for this?

[2018-02-07 13:11] sfairgrieve commented on #124
Let me check on this.  I think it should be an easy fix.

[2018-03-15 00:15] sfairgrieve commented on #124
@testuserx I believe this should be fixed in the latest push to 1.0dev.  Let me know if you still see the warning with that version.

[2018-04-09 15:14] hairpin86 opened #125 "PieCharts don't show when using the examples"
Hi,

I'm just trying to implement your library into our Oracle Apex application.

I tried to get the examples to work, but the pie charts don't show up.
All the other layers show up just fine when selected but not the charts.

I tried both version of the library (1.x and 0.7x)

No errors in the console.

What could be the problem?

Thanks

![grafik](https://user-images.githubusercontent.com/223047

[2018-04-10 11:35] sfairgrieve commented on #125
@hairpin86 That's weird.  Not sure what the problem could be offhand.  Can you provide some more details like sample code?  Or, is it just this example with no changes:  http://humangeo.github.io/leaflet-dvf/examples/html/incomelevels.html

[2018-04-10 12:30] hairpin86 commented on #125
i just plainly copied the example Javascript, included the data files and leaflet.js as well as the  tile.stamen.js

Did I miss a library?

[2018-04-10 12:54] hairpin86 commented on #125
Just realised, that all the interactive functionality (e.g. hover over states / country tooltips etc.) don't work either ...
I did not include the geohash.js, jsts.js, javascript.util.js in my page, could that be the problem?

[2018-04-10 13:06] sfairgrieve commented on #125
Those libraries shouldn't matter actually, and they can be moved out of this example.  This is an old-ish example and hasn't been updated recently.  What version of Leaflet are you using?  1.x?  If so, you should be using leaflet-dvf 0.3.0.  Are you sure that the correct Leaflet CSS file is being included as well?  Still no errors in the console logs?

[2018-04-10 13:45] hairpin86 commented on #125
Hi,

Thanks so much for the support, I used the wrong version of leaflet and leaflet-dvf.

Fixed that and it works right away.

Thanks so much for this wonderful library!!

[2018-04-10 14:16] hairpin86 commented on #125
Hi,
Your suggestion helped a little bit, tooltips do show now, but pie charts still don't show up as expected.
I tried using:
using leaflet-dvf 0.3.0 with Leaflet 1.3.1

No errors on the logs.

[2018-04-11 12:31] sfairgrieve commented on #125
Weird.  Still the same example, or a different one?

[2018-04-12 18:44] hairpin666 commented on #125
I tried all the examples, no charts :( , the other layers work as expected. No idea what I'm doing wrong....

[2018-04-25 07:59] JulienSchanen opened #126 "Flowline using arrays"
Hi,

I try to make a flowline like in the runmap example but instead of using json data I have arrays.
So,  firstly I tried to recreate the structure of json file in my array :

[code]

And then add the good parameters to the Flowline :

[code]

But it is not working and I have no error in the console. So, I don't understand what I miss.

thanks you for your help

[2018-04-25 11:53] sfairgrieve commented on #126
It looks like the issue is with `recordsField`.  `recordsField` tells the FlowLine what field in your data contains the records to be processed.  In this case, `jsonData` is the records that you want to process, so you can set `recordsField` to null.  Also, under `displayOptions`, the `speed` reference should be changed to `gpx.wpt[0].speed`.

[code]

If you don't mind changing the structure of `j

[2018-05-10 12:29] JePedrosa opened #127 "Create RegularPolygonMarker in featureGroup"
Hello, I'm trying to create a RegularPolygonMarker and add it to a layer that I already had generated, a markerCluster, but it will not let me add it to this, could someone help me? Then I pass the code of how I believe it. Thank you

[code]

[2018-05-12 14:49] ravithb commented on #112
This issue happens if leaflet.js is not included before leaflet-dvs.js. I managed to resolve it by adding leaflet.js to the angular.cli.json before leaflet-dvf.js

[2018-06-06 09:24] xiallyspider opened #128 "a little mistake about the "_createText" method in the source code"
v0.3.1 ->leaflet-dvf.js

       _createText: function (layer) {
            // var options = layer.options.text || {};
            var options = layer.options || {};
           ......
            var textNode = document.createTextNode(options.text);
           ......
         }

[2018-06-06 19:18] sfairgrieve commented on #128
Thanks for pointing this out, and apologies for the confusion.  The source code is actually the intended behavior.  The layer `text` option tells the code that you want to display text on the SVG element and provides configuration options for that text element that will be displayed.  One parameter is `text`, which is the actual text to be displayed, but you can also provide a `path` option that t

[2018-06-07 05:57] xiallyspider commented on #128
Opps, It seems that I did not look carefully enough,sorry for it and appreciate your patience.Now I know how to use it

[2018-09-14 07:34] yetit commented on #124
@sfairgrieve is there a way to install 1.0dev branch as npm dependency?

UPD:
Did this:
npm install git://github.com/humangeo/leaflet-dvf.git#1.0dev --save
Warning had gone

[2018-09-14 07:45] yetit commented on #124
@sfairgrieve has this warning:
`./node_modules/leaflet-dvf/dist/css/dvf.css
(Emitted value instead of an instance of Error) autoprefixer: ...\node_modules\leaflet-dvf\dist\css\dvf.css:17:5: Gradient has outdated direction syntax. New syntax is like `to left` instead of `right`.`

it was in 'master', and it is still in 1.0dev

[2018-10-24 08:13] ghassen98 commented on #119
Is there any solution for this issue please ?

[2018-10-25 22:44] sfairgrieve commented on #119
This shouldn't be an issue.  The code in the 1.0dev branch will work.  Or,
install leaflet-dvf 0.3.0 or above using npm.  I would also suggest
upgrading to Leaflet 1.3.x.

On Wed, Oct 24, 2018 at 4:13 AM GHassen <notifications@github.com> wrote:

[2019-05-20 12:40] aurelien-robineau opened #129 "Styling attributes for markers and charts"
Hi,
I can't find a list of all possibles styling attributes possible for markers and charts. I guessed some of them, but I surely missed some of the possibilities.
By the way the `color` attribute changes the border color on histrograms, but not on pie charts (I did not test on other charts). Maybe it is a bug ?

Thanks.

[2019-05-20 14:00] sfairgrieve commented on #129
Some of the marker options are defined here:  https://github.com/humangeo/leaflet-dvf/wiki/6.-Markers.  In most cases, what's mentioned on the wiki is in addition to normal Leaflet `Path` styling options.  The components of chart markers are just `Path` objects, so they accept all the same styling parameters that normal Leaflet path objects accept as well:  https://leafletjs.com/reference-1.5.0.ht

[2019-05-20 14:55] aurelien-robineau commented on #129
It does help, thanks. I just didn't realise that I could actually use normal Leaflet styling options.
I let this topic open so you can close it when you know wether the color is a bug or not.

[2019-07-01 22:51] hy9be opened #130 "GeohashLayer leaks layers when being removed"
I found even by calling ``.clearLayers()`` on a ``GeohashLayer``, there are still a lot of layers left in the map. Is there a way to remove all related layers for a ``GeohashLayer``?

[2019-10-09 13:34] defineconst opened #131 "leaflet version?"
now leaflet 1.51,which version leaflet-dvf use?thank you.

[2019-10-09 14:38] sfairgrieve commented on #131
The `1.0dev` branch will work with all Leaflet 1.x versions.

[2019-10-22 02:15] defineconst commented on #131
thank you.

[2019-10-22 02:15] #131 closed, assigned to nobody

[2019-12-26 01:37] hansnam1105 opened #132 "flight data arrow becomes a square in ie11"
I found out that the arrow in flight data example becomes a square in ie11
Is there any solution to change it back to an arrow?

![flight-data](https://user-images.githubusercontent.com/34000255/71452865-aea33f80-27cb-11ea-9071-ce715f85361b.jpg)

[2020-11-19 12:20] stefaneichert opened #133 "Compatibility with Leaflet 1.7.0"
Hi dvf team!
Thanks for the great plugin! I am using it for spatial visualisations of archaeological data at https://thanados.net
We are displaying the count of various artefact types as chart markers and it works very well.

However:
When using dvf with a leaflet version higher than 1.5.0 I get the follwing console errors with Chart Markers:

`Path.js:109 Uncaught TypeError: this._updateBounds is

[2021-03-08 19:03] kzsepoloane commented on #133
[Leaflet issue 6662](https://github.com/Leaflet/Leaflet/issues/6662)

Take a look at this it solved the problem for me.

[2021-03-18 22:23] vladislav-svetailo commented on #102
No one of methods, which described above, didn't work for me. I didn't meet other explanation or any option in docs. In code I even didn't meet those options, which mentioned above. So, I put some changes in PieChartMarker section in leaflet-dvf.markers.js:

`if(options.showTooltipOnChartPart==true)
                    {
	                this._bindMouseEvents(bar);
                    }`

and set

[2021-04-24 08:57] AramisN opened #134 "how can i add offline map or tile server to it"

[2022-02-14 12:01] valerio-bozzolan opened #135 "Demo not working anymore (?)"
Hi all! I've noticed that the example is not online anymore. Are you aware of that?

![Screenshot_2022_02_14_130108](https://user-images.githubusercontent.com/6052909/153860669-39f1265e-812b-4aea-a6db-48d5721b7568.png)

* https://humangeo.github.com/leaflet-dvf/examples/html/markers.html

I've found your plugin from this page:

https://leafletjs.com/plugins.html

Thank you so much for your work on

[2022-02-15 20:55] sfairgrieve commented on #135
Unfortunately, this repo is no longer maintained.  The sponsoring organization got acquired, and I no longer have capacity to maintain it.  I might recommend forking it, if you're up for it.  I believe it should still work with the latest versions of Leaflet, and the code should be easy to edit/update if needed.

For now, if you want to check out the demos, clone the repo and then jump into the le

[2022-02-15 22:20] valerio-bozzolan commented on #134
Hi!

Here some hints:

https://gis.stackexchange.com/questions/329468/getting-leaflet-map-to-work-offline

Feel free to close this question if it was useful. Having said the question was probably not related to this plugin, but to Leaflet itself :)

[2022-02-15 22:22] valerio-bozzolan commented on #132
Please help us in killing Internet Exploder and any of its users if you find one.

[2022-02-15 22:26] valerio-bozzolan commented on #128
@xiallyspider can you please mark as resolved? :)

[2022-02-15 22:27] valerio-bozzolan commented on #129
@aurelien-robineau can you please mark as resolved if you have fixed? :) thank you so much!

[2022-02-15 22:29] valerio-bozzolan commented on #126
@JulienSchanen can you please mark as resolved if the answer was somehow useful? :) thank you so much!

[2022-03-07 11:20] mbiedzki opened #136 "git protocol dependency - geohash"
Hi, leaflet-dvf has the dependency in bower:  "geohash-js": "git://github.com/voodootikigod/geohash-js",
per GitHub announcement: https://github.blog/2021-09-01-improving-git-protocol-security-github/
this dependency will not work from March 15th, 2022.
Do you plan to change it to https?
Regards, Michal